.shadow-bottom {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

.shadow-form {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

/* CSS untuk animasi slide down dan fade out */
@keyframes slideDown {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.notification {
    animation: slideDown 0.5s ease-in-out, fadeOut 0.5s 2.5s ease-in-out forwards;
}